* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header {
    background: #131921;

}

header img {
    width: 120px;
    padding: 1 rem;
    
}

header h6 {
    color: #FFFF;
}

.Search-bar {
    width: 500px;

}

.btn-search {
 background: orange;
 border-radius: 4px;
 width: 60px;
}

.Flag-img {
    width: 50px;
    height: 50px;
}

.account-p {
    color: #ffff;
}

.Return-p {
    color: #ffff;
}

.cart-icon {
    color: #FFFF;
  
}

.menu ul {
    list-style-type: none;
    display: flex;
    background-color: #232f3e;
    padding: 0px;
    margin: 0px;
}

.menu a {
    color: #FFFF;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}





